In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('survey_data/survey_results_public.csv')

In [4]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [5]:
df.shape

(83439, 48)

In [8]:
df.loc[:10,'ResponseId': 'Country']

,ResponseId,MainBranch,Employment,Country
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia
1,2,I am a student who is learning to code,"Student, full-time",Netherlands
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation
3,4,I am a developer by profession,Employed full-time,Austria
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...
5,6,I am a student who is learning to code,"Student, part-time",United States of America
6,7,I code primarily as a hobby,I prefer not to say,United States of America
7,8,I am a student who is learning to code,"Student, full-time",Malaysia
8,9,I am a developer by profession,Employed part-time,India
9,10,I am a developer by profession,Employed full-time,Sweden
10,11,I am a developer by profession,Employed full-time,United Kingdom of Great Britain and Northern I...

In [9]:
df.iloc[:10,:5 ]

,ResponseId,MainBranch,Employment,Country,US_State
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire
7,8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN
8,9,I am a developer by profession,Employed part-time,India,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN

In [11]:
df[['ResponseId','MainBranch']]

       ResponseId                                         MainBranch
0               1                     I am a developer by profession
1               2             I am a student who is learning to code
2               3  I am not primarily a developer, but I write co...
3               4                     I am a developer by profession
4               5                     I am a developer by profession
...           ...                                                ...
83434       83435                     I am a developer by profession
83435       83436                     I am a developer by profession
83436       83437                     I am a developer by profession
83437       83438                     I am a developer by profession
83438       83439                     I am a developer by profession

[83439 rows x 2 columns]

In [19]:
l = [1,3,8,9,7,6,10]

In [20]:
len(l)

7

In [22]:
buffer_index = len(l)//2
buffer_index

3

In [23]:
new_l = l[:buffer_index] + l[-1:-int(buffer_index)-1:-1]
new_l

[1, 3, 8, 10, 6, 7]

In [36]:
ele = [1,2,3,4,8,10,12,20]

res = []
i = 0
while i<len(ele)-1:
    if ele[i] + 1 != ele[i+1]:
        diff = ele[i+1] - ele[i]
        for j in range(diff-1):
            #print(j+1)
            res.append(ele[i]+j+1)
    i += 1

print(res)

[5, 6, 7, 9, 11, 13, 14, 15, 16, 17, 18, 19]